{{extend 'layout.html'}}
<style>
    body {
        font-family: Helvetica;
        background-color:whitesmoke;
        background-image:linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
                        linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
        background-size:50px 50px;
    }

    #recipeForm {
        background-color: rgba(230, 230, 230, 0.95);
        padding: 10px;
    }
</style>

<body>
    <div id="recipeForm">
        <div style="padding: 50px;">
            <h1 style="margin: 20px; color: green">New Recipe</h1>
            {{=form}}
        </div>
    </div>
</body>

<script>
    var player;
    var maxTime =  300;     // maximum video time: 300s (5 minutes)
    var urlLegalFlag = false;
    var url_input = "";
    var urlInputBox = document.getElementById('recipe_vURL');
    var playerDiv = "<div id='player' class='hidden' style='margin-top: 5px'></div>";
    var uploadLabel = "<button id='vUploadLabel' type='button' class='label label-success'>Upload</button>";
    var cancelLabel = "<button id='vCancelLabel' class='label label-warning'>Cancel</button>";
    var loadingLabel = "<div id='vLoadingLabel'><i class='fa fa-spinner fa-spin fa-2x fa-fw'></i><span>Preparing...</span></div>";
    var vUrlLabel = "<div id='vUrlLabel' class='hidden' style='margin-bottom: 5px'>" + uploadLabel + cancelLabel + "</div>";
    var url_errorMessage = "<div id='url_errorMessage' class='hidden' style='color: red'></div>";

    // insert the video under the URL input
    $(playerDiv).insertAfter(urlInputBox);

    // add buttons to load video
    $(loadingLabel).insertBefore(urlInputBox);
    $(vUrlLabel).insertBefore(urlInputBox);
    $(url_errorMessage).insertAfter(urlInputBox);

    // Buttons onClick activities
    $("#vUploadLabel").click(function(event) {
        event.preventDefault();
        updateURL();
    });

    $("#vCancelLabel").click(function(event) {
        event.preventDefault();
        cleanUrlInput();
    });

    function updateURL() {
        $('#url_errorMessage').addClass('hidden');
        $('#url_errorMessage').text('');
        url_input = urlInputBox.value;
        var url_tokens = url_input.split('?');

        // check if the URL input box is empty before process
        if (url_input != '') {

            // check if the user entered a YouTube URL
            if (url_tokens[0] && url_tokens[0]=="https://www.youtube.com/watch" && url_tokens[1]) {

                var url_args = url_tokens[1].split('=');

                player.loadVideoById(url_args[1]);

            } else {
                stopVideo();
                $('#player').addClass('hidden');
                $('#url_errorMessage').text("Please enter a correct YouTube URL: \n https://www.youtube.com/watch?v={Video Id}");
                $('#url_errorMessage').removeClass('hidden');
            }

        } else {
            $('#url_errorMessage').text("Please enter a correct YouTube URL: \n https://www.youtube.com/watch?v={Video Id}");
            $('#url_errorMessage').removeClass('hidden');
        }
    }

    function cleanUrlInput() {
        stopVideo();
        $('#player').addClass('hidden');
        urlInputBox.value = "";
        url_input = "";
        $('#recipe_vURL').removeClass('hidden');
        $('#url_errorMessage').addClass('hidden');
        $('#url_errorMessage').text('');
    }

    // Other Event
    // Disable "Enter" keypress behavior on URL input field
    $('#recipe_vURL').keypress(function(event){
        if (event.keyCode === 10 || event.keyCode === 13) {
            event.preventDefault();
        }
    });

    // check the urlLegalFlag before Submit the form
    $("input[type='submit']").on('click', function(event) {
        if (urlInputBox.value == "") {
            urlLegalFlag = false;
        }

        if (urlLegalFlag == false) {
            urlInputBox.value = "";
        }
    });

    // YouTube API
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            //videoId: 'M7lc1UVf-VE',
            events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        $('#vLoadingLabel').remove();
        $('#vUrlLabel').removeClass('hidden');

    }

    function onPlayerStateChange(event) {
        console.log(event);
        // get the length of video when it is loaded and played
        if (event.data == "1") {
            var vLength = event.target.getDuration();

            if (vLength < (maxTime+1)) {
                urlLegalFlag = true;
                player.pauseVideo();
                $('#recipe_vURL').addClass('hidden');
                $('#player').removeClass('hidden');
            } else {
                urlLegalFlag = false;
                player.stopVideo();
                cleanUrlInput();
                $('#player').addClass('hidden');
                $('#url_errorMessage').text('Video must be shorter 5 mintes');
                $('#url_errorMessage').removeClass('hidden');
            }
        }

        // set the urlLegalFlag to 1 (Illegal)
        // if the video cannot be loaded or illegal url
        if (event.data == "5" || event.data == "3" ) {
            urlLegalFlag = false;
        }
    }

    function stopVideo() {
        player.stopVideo();
    }
</script>

<script>

</script>