{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/product.js')}}"></script>
{{end}}

{{logged_in = auth.user_id is not None}}

<style>
    body {
                font-family: Helvetica;
                background-color:whitesmoke;
                background-image:
                linear-gradient(rgba(200,0,0,.5) 100%, transparent 90%);
                background-size:75px 75px;
			}

    .topcorner{
   position:absolute;
   top:0;
   right:0;
  }

</style>

<body>

     <h1><center/>Recipe <i class="fa fa-book" aria-hidden="true"></i> <center/></h1>


     <center/><a href="http://www.foodnetwork.com/shows/hungry-girl/200-series/under-five-minutes.html">Search recipes!</a><center/>

            <li>Time: _</li>
            <li>Serves: _</li>

        <table>
            <thead>
                <tr>
                    <th>Ingredients</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <p><strong>Step 1:</strong> ...
        <p><strong>Step 2:</strong> ...
        <p><strong>Step 3:</strong> ...
</p>

    <p><em>Source: <a href="https://www.youtube.com/">Youtube</a></em></p>

</body>