{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/product.js')}}"></script>
{{end}}

{{logged_in = auth.user_id is not None}}

<style>
    body {
        font-family: Helvetica;
        background-color:whitesmoke;
        background-image:linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
        linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
        background-size:50px 50px;
    }

    .border {
     border-style: groove;
     border-color: white;
     border-radius: 5px 5px;
}

   .white{
    background: whitesmoke;
}


</style>

<body>
<div>
     <h1><strong><center/>InMins<i class="fa fa-cutlery" aria-hidden="true"></i> Recipe <i class="fa fa-book" aria-hidden="true"></i><center/></strong><h1/>
</div>

<div class = "border white">
  <strong><h4>Recipe</h4></strong></div>

        <ol>
            <a href="?">Cuisine: </a>
        </ol>
        <strong><h4>Video </h4></strong>
        <ol>
            <a href="?">Recipe: </a>
        </ol>
        <strong><h4>Description </h4></strong>

        <ul>
            <li>Time: _</li>
            <li>Serves: _</li>
        </ul>

        <table>
            <thead>
                <tr>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
</div>

   <em>Source: <a href="https://www.youtube.com/">Youtube</a></em>

</body>