{{extend 'layout.html'}}
<style>

</style>
<head>

</head>
<div class="recipe_listing center">
    <h1>Recipes, The Site</h1>

    <div class="recipe_list">

        {{if recipes:}}

            {{for p in recipes:}}




                    <div class="recipe_bottom center">
                        <div style="background-color:#e4e4e4;width:25%;height:200px;font-size:2em;text-align:center; padding:20px">
                            <p><i class="fa fa-exclamation-circle"></i> NO IMAGE </p>
                        </div>
                        <div class="recipe text-left">
                        <div class="description">{{=p.name}}</div>
                    <div class="uname">By {{=p.username}}</div>

                      <!-- <div class="createdon"> {{=p.created_on}}</div>-->
                            &nbsp
                            &nbsp
                            &nbsp
                       <!--{{if p.created_on - p.updated_on:}}
                             <span class="update">Edited on: {{=p.updated_on}}</span>
                        {{else: pass}}-->
                    </div>
                </div>

            {{pass}}

        </div>

        {{else:}}

            <p align="center"> No recipes Found. </p>

        {{pass}}
</div>
