{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var recipes_url = "{{=URL('api', 'get_recipes')}}";
</script>
{{end}}

<div class="main_content">
    <h1><center>recipes The Site, Part 2</center></h1>

    <div id="vue-div" class="display:none">

        <!-- recipe List -->
        <div class="result_recipe">
            <div v-for="recipe in recipes" class="recipe">
                <div class="!recipe-content">
                    <div v-if="!recipe.recipe_edit">
                        <div class="recipe_upper">
                            <span id="recipe-text">
                                ${recipe.name}
                            </span>
                        </div>

                        <div class="recipe_lower">
                            <span id="username">
                                ${recipe.username}
                            </span>

                            &nbsp

                            <span id="created_time">
                                ${recipe.created_on}
                            </span>

                            &nbsp

                            <span id="updated_time" v-if="recipe.updated_on != recipe.created_on">
                                Updated on: ${recipe.updated_on}
                            </span>

                            &nbsp

                        </div>
                    </div>
                </div>
            </div>

            <div v-if="has_more" class="show_more">
                <button id="load-more" v-on:click="get_more()">Load More</button> <br>
            </div>
        </div>

    </div>

</div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
