/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 6, ../sass/_main.scss */
a .fa {
  margin-right: 10px;
}

/* line 10, ../sass/_main.scss */
.post_listing {
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0px;
}

/* line 15, ../sass/_main.scss */
.checklist_list {
  padding-top: 10px;
}

/* line 19, ../sass/_main.scss */
a.checklist_title {
  color: #222222;
}
/* line 20, ../sass/_main.scss */
a.checklist_title:hover {
  text-decoration: none;
}
/* line 24, ../sass/_main.scss */
a.checklist_title div.checklist_title {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  background: #eeeeee;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
